.buttonsContainer {
    display: flex !important;
    flex-direction: row !important;
}

.buttonsContainer > button {
    margin-right: 10px;
}

.responseContainer {
}

.imageContainer {
}

.image {

}

.textContainer{
}

.code {
}

.text {
}
.info {
}