.loader {
    /*свг и/или анимация*/
    display: block;
    width: 32px;
    height: 32px;
    background-color: black;

    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation: slide-in 1500ms;
}

@keyframes slide-in {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}