.tech {
    width: 50vw;
    margin-bottom: 5px;
}

.developer {

}

.techHeader {
    width: 50vw;
    margin-bottom: 10px;
}

.developerHeader {

}

.row {
    display: flex;
}

.rowHeader {
    display: flex;
}

.loading {

}